{% extends 'backend/base.html' %}


{% block contenido %}

<!--Desktop version-->

<div class="d-none d-sm-none d-md-block">

  <div class="container">

    <div class="row">
        
      <div class="col-lg-12">

        <div class="card shadow mb-3" >
          
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Usuarios</h6>
          </div>

          <div class="card-body">

            <div class="table-responsive">

              <table class="table table-bordered" id="dataTable" cellspacing="0">

                <thead>
                  <tr>
                    <th>Nick</th>
                    <th>eMail</th>
                    <th colspan="2">Fecha de registro</th>

                  </tr>
                </thead>

                <tbody>
                    {% for users in users %}
                  <tr>             
                    <td>{{users.username}}</td>
                    <td>{{users.email}}</td>
                    <td>{{users.date_joined}}</td>
                    
                    
                    
                    <td>


                      <a href="#" class="btn btn-danger btn-icon-split" style="width: 100%">

                        <span class="text">Eliminar</span>
                      </a>


                    </td>
                  </tr>
                  
                  {% endfor %}              
                </tbody>

              </table>

            </div>
            
          </div>

        </div>

      </div>

    </div>

  </div>

</div>


<!--Mobile version-->

<div class="d-block d-sm-block d-md-none">

  <div class="container">
  
    <div class="row">
        
      <div class="col-lg-12">
  
        <!-- DataTales Example -->
        <div class="card shadow mb-3" >
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Usuarios</h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" cellspacing="0">
                <thead>
                  <tr>
                    <th>Nick</th>
                    <th colspan="2">eMail</th>
                  </tr>
                </thead>
  
                <tbody>
                    {% for users in users %}
                  <tr>             
                    <td>{{users.username}}</td>
                    <td>{{users.email}}</td>

                    
                    
                    
                    <td>
                      <a href="#" class="btn btn-danger btn-icon-split" style="width: 100%">

                        <span class="text">Eliminar</span>
                      </a>

                    </td>
                  </tr>




                  {% endfor %}              
                </tbody>
              </table>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  
  
  </div>
  </div>
{% endblock %}