{% extends 'backend/base.html' %}


{% block contenido %}

  
    
        
                    <div class="col-lg-7 col-md-7 mx-auto">
                            <!-- form card login -->
                        <div class="card rounded shadow shadow-sm border-bottom-info">
                          <div class="card-body">
                            <div class="text-center">
                              <br><font size="5" style="color:black;">¿Está seguro que desea eliminar la compañia {{campaign.name}}?</font></h1>
                            
                                  <hr>
                                  <br>

                                  <form action="" method="post">
                                    {% csrf_token %}
                                  <a href="/backend/list_publicity_campaign" class="btn btn-primary btn-icon-split" style="width: 30%">
                                    <span class="text"><font size="5">Volver atrás</font></span>                                              
                                  </a>

                               
                                  <button  class="btn btn-danger btn-icon-split" type="submit" href="/backend/delete_publicity_campaign/{{company.id}}" style="width: 30%">
                                    <span class="text"><font size="5">Eliminar</font></span>                        
                                  </button >
                                  <br>
                            </div>
                          </div>
                            <!--/card-block-->
                        </div>
                        <!-- /form card login -->
    
                    </div>
    
    
                <!--/row-->
   
        
        <!--/row-->

    <!--/container-->



{% endblock %}