{% extends 'backend/base.html' %}

{% block contenido %}

<div class="container-fluid">

  <div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                <a class="text-xs font-weight-bold text-primary text-uppercase mb-1" href="/backend/publicity_campaign_list">Campañas</a>
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{campaign}}</div>
            </div>
            <div class="col-auto">
              <i class="fa fa-building fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                <a class="text-xs font-weight-bold text-success text-uppercase mb-1" href="/backend/users_list">Usuarios registrados</a>                        
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{users}}</div>
            </div>
            <div class="col-auto">
              <i class="fa fa-shopping-cart fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                <a class="text-xs font-weight-bold text-info text-uppercase mb-1" href="/backend/product_list">Productos</a>
              </div>                 
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{products}}</div>
            </div>
            <div class="col-auto">
              <i class="fa fa-gift fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                <a class="text-xs font-weight-bold text-info text-uppercase mb-1" href="/backend/recipe_list">Recetas</a>
              </div>                 
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{recipes}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                <a class="text-xs font-weight-bold text-info text-uppercase mb-1" href="#">Productos</a>
              </div>                 
              <div class="h5 mb-0 font-weight-bold text-gray-800">FUTURO DATO</div>
            </div>
            <div class="col-auto">
              <i class="fa fa-gift fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                <a class="text-xs font-weight-bold text-info text-uppercase mb-1" href="#">Productos</a>
              </div>                 
              <div class="h5 mb-0 font-weight-bold text-gray-800">FUTURO DATO</div>
            </div>
            <div class="col-auto">
              <i class="fa fa-gift fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                <a class="text-xs font-weight-bold text-info text-uppercase mb-1" href="#">Productos</a>
              </div>                 
              <div class="h5 mb-0 font-weight-bold text-gray-800">FUTURO DATO</div>
            </div>
            <div class="col-auto">
              <i class="fa fa-gift fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                  <a class="text-xs font-weight-bold text-warning text-uppercase mb-1" href="#">TAGs NFC Tocados</a>
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">FUTURO DATO</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  

</div>

<div class="container-fluid">  
  <div class="row">

    <div class="col-lg-6">
      <div class="card shadow mb-4 border-bottom-warning">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Futuro dato</h6>
        </div>
        <div class="card-body">
          <p>ESTO ES TEXTO PARA MOSTRAR INFORMACION EN EL FUTURO!</p>          
        </div>
      </div>    
    </div>
    
    <div class="col-lg-6">
      <div class="card shadow mb-4 border-bottom-success">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Futuro dato</h6>
        </div>
        <div class="card-body">
          <p>ESTO ES TEXTO PARA MOSTRAR INFORMACION EN EL FUTURO!</p>
        </div>
      </div>
    </div>
    
    <div class="col-lg-12">  
      <div class="card shadow mb-4 border-bottom-danger">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Futuro dato</h6>
        </div>
        <div class="card-body">
          <p>ESTO ES TEXTO PARA MOSTRAR INFORMACION EN EL FUTURO!</p>
        </div>
      </div>
    </div>

  </div>          
</div>
{% endblock %}