{% extends 'backend/base.html' %}

{% block contenido %}

<div class="container-fluid">

  <div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                <a class="text-xs font-weight-bold text-primary text-uppercase mb-1" href="/backend/publicity_campaign_list">Campañas</a>
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{campaign}}</div>
            </div>
            <div class="col-auto">
              <i class="fa fa-shopping-cart fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                <a class="text-xs font-weight-bold text-success text-uppercase mb-1" href="/backend/users_list">Usuarios registrados</a>                        
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{users}}</div>
            </div>
            <div class="col-auto">
              <i class="fa fa-user fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                <a class="text-xs font-weight-bold text-info text-uppercase mb-1" href="/backend/product_list">Productos</a>
              </div>                 
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{products}}</div>
            </div>
            <div class="col-auto">
              <i class="fa fa-gift fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                <a class="text-xs font-weight-bold text-info text-uppercase mb-1" href="/backend/recipe_list">Recetas</a>
              </div>                 
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{recipes}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Usuarios administradores</div>
              </div>                 
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{users_admin}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-user-shield fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                <a class="text-xs font-weight-bold text-info text-uppercase mb-1" href="/backend/tag_nfc_list">TAGs NFC</a>
              </div>                 
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{tags}}</div>
            </div>
            <div class="col-auto">
              <i class="fa fa-tags fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
<!---->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Promociones registradas</div>
              </div>                 
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{point}}</div>
            </div>
            <div class="col-auto">
              <i class="fa fa-gift fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                  <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">TAGs NFC Tocados</div>
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{tags_touch}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-tags fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>  

</div>



<div class="container-fluid">  
  <div class="row">

    <div class="col-lg-4">
      <div class="card shadow mb-4 border-bottom-warning">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Campañas</h6>{{campaign_enables}}
        </div>
        <div class="card-body">
          
          <canvas id="myChart2" height="150"></canvas>
        </div>
      </div>    
    </div>
    
    <div class="col-lg-4">
      <div class="card shadow mb-4 border-bottom-success">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Promociones registradas</h6> 
        </div>
        <div class="card-body">
          <canvas id="myChart" height="150"></canvas>
        </div>
      </div>
    </div>
    
    <div class="col-lg-4">  
      <div class="card shadow mb-4 border-bottom-danger">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Futuro dato</h6>
        </div>
        <div class="card-body">
          <p>ESTO ES TEXTO PARA MOSTRAR INFORMACION EN EL FUTURO!</p>
        </div>
      </div>
    </div>

  </div>          
</div>



<script>
  var ctx = document.getElementById('myChart').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'pie',
      data: {
          labels: ["Registradas con exito: {{promotion_accept}}", "Denegadas. Ya estaban registradas.: {{promotion_denied}}"],
          datasets: [{
              label: 'Actividad',
              data: ["{{promotion_accept}}", "{{promotion_denied}}"],
              backgroundColor: [
                  'rgba(155, 199, 132, 1)',
                  'rgba(54, 162, 235, 1)',
              ],
              
              borderWidth: 1
          }]
      },
      
  });

  var ctx2 = document.getElementById('myChart2').getContext('2d');
  var myChart2 = new Chart(ctx2, {
      type: 'doughnut',
      data: {
          labels: ["Totales: {{campaign}}","Activas: {{campaign_enable}}","Inactivas: {{campaign_disable}}"],
          datasets: [{
              label: 'Actividad',
              data: ["{{campaign}}","{{campaign_enable}}","{{campaign_disable}}"],
              backgroundColor: [
                  'rgba(155, 199, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(54, 162, 135, 1)',
              ],
              
              borderWidth: 1
          }]
      },
      
  });

  
  </script>
{% endblock %}