{% extends 'backend/base.html' %}

{% block contenido %}

{% load static %}

<div class="container">
  <div class="row">        
    <div class="col-lg-10">
      <div class="card shadow mb-3" >

        <div class="card-body d-flex flex-row">      
          <div>      
            <h4 class="card-title font-weight-bold mb-2">{{product.name}}</h4>
            <p class="card-text"><i class="fa fa-user" aria-hidden="true"></i> Creada por: {{product.user}}<br>
              <i class="fas fa-money-bill" aria-hidden="true"></i> Precio: {{product.price}} €<br>
              <i class="far fa-clock pr-2"></i>Fecha de creación: {{product.date}}<br>
            </p>            
          </div>      
        </div>

        <div class="view overlay">
          <img class="card-img-top rounded-0" src="{{ product.image.url }}" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>          
        
        <div class="container portfolio">
          <br>
          <h4 class="card-title font-weight-bold mb-2">Descripción:</h4>           
            <p>{{product.description}}</p>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}