{% extends 'backend/base.html' %}

{% block contenido %}

{% load static %}

<div class="container">
  <div class="row">        
    <div class="col-lg-10">
      <div class="card shadow mb-3" >

        <div class="card-body d-flex flex-row">      
          <div>      
            {% if product.available == False %}
            <h4>PRODUCTO NO DISPONIBLE POR EL MOMENTO</h4>
            {% endif %}

            <h4 class="card-title font-weight-bold mb-2">{{product.name}}</h4>
            <p class="card-text"><i class="far fa-clock pr-2"></i>Última actualización realizada por: {{product.user}} el {{product.date}}<br>

              {% if product.unit == 'kg' %}

              <i class="fas fa-money-bill" aria-hidden="true"></i> Precio: {{product.price}} €/Kg<br>

              {% endif %}

              {% if product.unit == 'litros' %}

              <i class="fas fa-money-bill" aria-hidden="true"></i> Precio: {{product.price}} €/Litro<br>

              {% endif %}

              {% if product.unit == 'unidad' %}

              <i class="fas fa-money-bill" aria-hidden="true"></i> Precio: {{product.price}} €/Unidad<br>

              {% endif %}

              </p>            
          </div>      
        </div>

        <div class="view overlay">
          <img class="card-img-top rounded-0" src="{{ product.image.url }}" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>          
        
        <div class="container portfolio">
          <br>
          <h4 class="card-title font-weight-bold mb-2">Descripción:</h4>           
            <p>{{product.description|linebreaks}}</p>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}