{% extends 'backend/base.html' %}

{% block contenido %}


  <div class="container-fluid">  
    <div class="card shadow mb-4">

      <div class="card-header py-3">
        
        {% ifequal id "0" %}
        <h6 class="m-0 font-weight-bold text-primary d-flex justify-content-between align-items-center">Estadísticas
        {% endifequal %}

        {% ifequal id "1" %}
        <h6 class="m-0 font-weight-bold text-primary d-flex justify-content-between align-items-center">Lista de campañas
        {% endifequal %}

        {% ifequal id "2" %}
        <h6 class="m-0 font-weight-bold text-primary d-flex justify-content-between align-items-center">Campañas
        {% endifequal %}

          <right>
            <a class="btn btn-primary" href="/backend/register_activity_campaign/1" role="button" aria-expanded="false" >
             Ver solamente lista de campañas
            </a>
          
            <a class="btn btn-primary" href="/backend/register_activity_campaign/2" role="button" aria-expanded="false" >
             Ver solamente campañas
            </a>
          
            <a class="btn btn-primary" href="/backend/register_activity_campaign/0" role="button" aria-expanded="false" >
             Ver todo
            </a>
          
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
             Gráficos acumulativo
            </a>
          </right>
        </h6> 

            



      </div>
      
      <div class="collapse" id="collapseExample">

        <div class="card-body">

          <div class="card-header py-3">
            <div class=row>

              
              <div div class="col-lg-6">
               <canvas id="myChart"></canvas>
              </div>
              



              <div div class="col-lg-6">
                <canvas id="myChart2"></canvas>
              </div>         

            </div>
         
          </div>

        </div>

      </div>
      

      <div class="card-body">        

        

        <div class="table-responsive">
          
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            
            <thead>
              <tr>
                <th>Usuario</th>   
                {% ifequal id "0" %}             
                <th>Actividad</th>
                <th>Nombre</th>
                {% endifequal%}
                <th>Fecha</th>
                <th>Hora</th>
                <th>IP</th>
                <th>País</th>
                <th>Comunidad</th>
                <th>Ciudad</th>
                {% ifequal id "2" %}
                <th>Nombre campaña</th>
                <th>Fecha inicio</th>
                <th>Fecha finalización</th>
                <th>Descripción</th>
                {% endifequal %}




              </tr>
            </thead>
            
            <tbody>
              {% for item in register_activity %}

              <tr>
                <td>
                  {% if item.user == None %}
                  Anónimo

                  {% else %}

                  {{item.user}}

                  {% endif %}

                </td>
                {% ifequal id "0" %}             
                <td>{{item.activity}}</td>
                <td>{{item.activity_name}}</td>
                {% endifequal%}
                <td>{{item.date}}</td>
                <td>{{item.time}}</td>
                <td>{{item.ip_address}}</td>
                <td>{{item.country_name}}</td>
                <td>{{item.region_name}}</td>
                <td>{{item.city}}</td>
                {% ifequal id "2" %}
                <td>{{item.publicity_campaign_name}}</td>
                <td>{{item.publicity_campaign_date_start}}</td>
                <td>{{item.publicity_campaign_date_end}}</td>
                <td>{{item.publicity_campaign_description}}</td>
                {% endifequal %}



              </tr>
              
              {% endfor %}          
              
              

              
             </tbody>

             
          </table>
          {% if register_activity.object_list and register_activity.paginator.num_pages > 1 %}

          <div class="card-header py-3">

            <h6 class="m-0 font-weight-bold text-primary d-flex justify-content-between align-items-center">  
          
        
              <div class="col s12 m5">
                <div class="card-panel blue lighten-5">
               
                         
               
                  
                
                <span align="right">Página {{ register_activity.number }} de {{ register_activity.paginator.num_pages }}
      
      
                  </span>
                  
                </div>
                
              </div>
    
    
    
    
              <right>
                
    
                {% if register_activity.has_previous %}
        
                <a href="?page={{ register_activity.previous_page_number }}" class="btn btn-primary btn-icon-split">
                  <span class="icon">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                  </span>
                </a>
      
      
        
                {% endif %} 
    
                {% if register_activity.has_next %}
        
                <a href="?page={{ register_activity.next_page_number }}" class="btn btn-primary btn-icon-split">
                  <span class="icon">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                  </span>
                </a>
             
                {% endif %}
                </right>
              </h6> 
            </div>

            {% endif %}

        </div>


      

  <script>


var ctx = document.getElementById('myChart').getContext('2d');

var myChart = new Chart(ctx, {
  type: 'line',
      data: {
          labels: [
      {% for item in register_activity_campaign_count %}
        "{{item.date}}",
      {% endfor %}
                ],
          datasets: [{
              label: 'Campaña de publicidad',
              data: [
                  {% for item in register_activity_campaign_count %}
                  "{{item.count}}",
                  {% endfor %}
                  ],
              backgroundColor: [
                  'rgba(47, 45, 242, 0.7)',

              ],
              
              borderWidth: 1
          }]
      },
   
});


var ctx2 = document.getElementById('myChart2').getContext('2d');

var myChart2 = new Chart(ctx2, {
  type: 'line',
      data: {
          labels: [
      {% for item in register_activity_listcampaign_count %}
        "{{item.date}}",
      {% endfor %}
                ],
          datasets: [{
              label: 'Lista de campaña',
              data: [
                  {% for item in register_activity_listcampaign_count %}
                  "{{item.count}}",
                  {% endfor %}
                  ],
              backgroundColor: [
                  'rgba(47, 145, 242, 0.7)',

              ],
              
              borderWidth: 1
          }]
      },
   
});



  </script>


      </div>

    </div>


    

  </div>



{% endblock %}