{% extends 'backend/base.html' %}

{% block contenido %}





  <div class="container-fluid">  
    <div class="card shadow mb-4">

      <div class="card-header py-3">
        
        <h6 class="m-0 font-weight-bold text-primary d-flex justify-content-between align-items-center">Estadísticas de sesiones en el sistema 
      
          <right>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
             Gráficos acumulativo
            </a>
          </right>
        </h6> 

            



      </div>
      
      <div class="collapse" id="collapseExample">
        <div class="card-body">

          <div class="card-header py-3">
            <div class=row>
              <div div class="col-lg-6">
               <canvas id="myChart"></canvas>
              </div>
        
              <div div class="col-lg-6">
                <canvas id="myChart2"></canvas>
              </div>
         
              <div div class="col-lg-6">
                <canvas id="myChart3"></canvas>
              </div>
      
              <div div class="col-lg-6">
                <canvas id="myChart4"></canvas>
              </div>
            </div>
         
          </div>

        </div>
      </div>
      

      <div class="card-body">        

        

        <div class="table-responsive">
          
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            
            <thead>
              <tr>
                <th>Usuario</th>                
                <th>Actividad</th>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>IP</th>
                <th>País</th>
                <th>Comunidad</th>
                <th>Ciudad</th>


              </tr>
            </thead>
            
            <tbody>
              {% for item in register_activity %}

              <tr>
                <td>
                  {% if item.user == None %}
                  Anónimo

                  {% else %}

                  {{item.user}}

                  {% endif %}

                </td>
                <td>{{item.activity}}</td>
                <td>{{item.activity_name}}</td>
                <td>{{item.date|date:"SHORT_DATE_FORMAT"}}</td>
                <td>{{item.time|time:"H:i:s"}}</td>
                <td>{{item.ip_address}}</td>
                <td>{{item.country_name}}</td>
                <td>{{item.region_name}}</td>
                <td>{{item.city}}</td>


              </tr>
              
              {% endfor %}          
              
              

              
             </tbody>

             
          </table>
          <div class="card-header py-3">

            <h6 class="m-0 font-weight-bold text-primary d-flex justify-content-between align-items-center">  
          
              {% if register_activity.object_list and register_activity.paginator.num_pages > 1 %}
        
              <div class="col s12 m5">
                <div class="card-panel blue lighten-5">
               
                         
               
                  
                
                <span align="right">Página {{ register_activity.number }} de {{ register_activity.paginator.num_pages }}
      
      
                  </span>
                  
                </div>
                
              </div>
              {% endif %}
    
    
    
    
              <right>
                
    
                {% if register_activity.has_previous %}
        
                <a href="?page={{ register_activity.previous_page_number }}" class="btn btn-primary btn-icon-split">
                  <span class="icon">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                  </span>
                </a>
      
      
        
                {% endif %} 
    
                {% if register_activity.has_next %}
        
                <a href="?page={{ register_activity.next_page_number }}" class="btn btn-primary btn-icon-split">
                  <span class="icon">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                  </span>
                </a>
             
                {% endif %}
                </right>
              </h6> 
            </div>
        </div>
      

      
        

      
        


      

  <script>


var ctx = document.getElementById('myChart').getContext('2d');

var myChart = new Chart(ctx, {
  type: 'line',
      data: {
          labels: [
      {% for item in register_activity_inicio %}
        "{{item.date}}",
      {% endfor %}
                ],
          datasets: [{
              label: 'Inicio de sesión',
              data: [
                  {% for item in register_activity_inicio %}
                  "{{item.count}}",
                  {% endfor %}0
                  ],
              backgroundColor: [
                  'rgba(47, 145, 242, 0.7)',

              ],
              
              borderWidth: 1
          }]
      },
   
});


var ctx2 = document.getElementById('myChart2').getContext('2d');

var myChart2 = new Chart(ctx2, {
  type: 'line',
      data: {
          labels: [
      {% for item in register_activity_cierre %}
        "{{item.date}}",
      {% endfor %}
                ],
          datasets: [{
              label: 'Cierre de sesión',
              data: [
                  {% for item in register_activity_cierre %}
                  "{{item.count}}",
                  {% endfor %}0
                  ],
              backgroundColor: [
                  'rgba(47, 145, 242, 0.7)',

              ],
              
              borderWidth: 1
          }]
      },
   
});



var ctx3 = document.getElementById('myChart3').getContext('2d');

var myChart3 = new Chart(ctx3, {
  type: 'line',
      data: {
          labels: [
      {% for item in register_activity_register %}
        "{{item.date}}",
      {% endfor %}
                ],
          datasets: [{
              label: 'Visita página registro',
              data: [
                  {% for item in register_activity_register %}
                  "{{item.count}}",
                  {% endfor %}0
                  ],
              backgroundColor: [
                  'rgba(47, 145, 242, 0.7)',

              ],
              
              borderWidth: 1
          }]
      },
   
});



var ctx4 = document.getElementById('myChart4').getContext('2d');
  var myChart2 = new Chart(ctx4, {
      title:{
      text: "Visitas página registro"
      },
      type: 'pie',
      data: {
        
          labels: ["Usuarios no registrados","Usuarios registrados"],
          datasets: [{
              label: 'Visitas página registro',
              data: ["{{register_activity_register_count}}","{{register_activity_register_count_register}}"],
              backgroundColor: [
                  'rgba(155, 99, 132, 0.7)',
                  'rgba(54, 62, 135, 0.7)',
                  'rgba(54, 162, 135, 0.7)',
              ],
              
              borderWidth: 1
          }]
      },
      
  });
  </script>


      </div>

    </div>


    

  </div>



{% endblock %}