{% extends 'backend/base.html' %}

{% block contenido %}




  <div class="container-fluid">  
    <div class="card shadow mb-4">

      <div class="card-header py-3">
        
        <h6 class="m-0 font-weight-bold text-primary">Estadísticas</h6>    
      
      </div>
 
      <div class="card-body">        
        <div class="table-responsive">
          
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            
            <thead>
              <tr>
                <th>Usuario</th>                
                <th>Actividad</th>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>IP</th>
                <th>País</th>
                <th>Comunidad</th>
                <th>Ciudad</th>
                <th>Acciones</th>


              </tr>
            </thead>
            
            <tbody>
              {% for item in register_activity %}

              <tr>
                <td>
                  {% if item.user == None %}
                  Anónimo

                  {% else %}

                  {{item.user}}

                  {% endif %}

                </td>
                <td>{{item.activity}}</td>
                <td>{{item.activity_name}}</td>
                <td>{{item.date}}</td>
                <td>{{item.time}}</td>
                <td>{{item.ip_address}}</td>
                <td>{{item.country_name}}</td>
                <td>{{item.region_name}}</td>
                <td>{{item.city}}</td>
                <td>
                  <a href="#" class="btn btn-primary btn-icon-split">
                    <span class="icon">
                      <i class="fa fa-eye" aria-hidden="true"></i>
                    </span>
                    <span class="text">Ver en detalle</span>
                  </a>
                </td>

              </tr>
              
              {% endfor %}              
             </tbody>

          </table>

        </div>
      

      <div class="card-header text-right py-3">
        

        {% if register_activity.object_list and register_activity.paginator.num_pages > 1 %}
    
        <div class="col s12 m5">
          <div class="card-panel blue lighten-5">
         
            {% if register_activity.has_previous %}
  
            <a href="?page={{ register_activity.previous_page_number }}" class="btn btn-primary btn-icon-split">
              <span class="icon">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
              </span>
            </a>
  
  
    
            {% endif %}        
         
            {% if register_activity.has_next %}
  
          <a href="?page={{ register_activity.next_page_number }}" class="btn btn-primary btn-icon-split">
            <span class="icon">
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </span>
          </a>
       
          {% endif %}
          <span align="right">Página {{ register_activity.number }} de {{ register_activity.paginator.num_pages }}


            </span>
          </div>
        </div>
    
      </div>
  {% endif %}
        




      </div>

    </div>
  </div>



{% endblock %}