{% extends 'backend/base.html' %}

{% block contenido %}

<!--Table desktop-->



<div class="d-none d-sm-none d-md-block">  
  <div class="container-fluid">  
    <div class="card shadow mb-4">

      <div class="card-header py-3">
        
        <h6 class="m-0 font-weight-bold text-primary">Estadísticas</h6>    
      
      </div>
 
      <div class="card-body">        
        <div class="table-responsive">
          
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            
            <thead>
              <tr>
                <th>Usuario</th>                
                <th>Actividad</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>IP</th>
                <th>País</th>
                <th>Comunidad</th>
                <th>Ciudad</th>

              </tr>
            </thead>
            
            <tbody>
              {% for item in register_activity %}

              <tr>
                <td>
                  {% if item.user == None %}
                  Anónimo

                  {% else %}

                  {{item.user}}

                  {% endif %}

                </td>
                <td>{{item.activity}}</td>
                <td>{{item.date}}</td>
                <td>{{item.time}}</td>
                <td>{{item.ip_address}}</td>
                <td>{{item.country_name}}</td>
                <td>{{item.region_name}}</td>
                <td>{{item.city}}</td>


              </tr>
              
              {% endfor %}              
             </tbody>

          </table>

        </div>
      </div>

    </div>
  </div>
</div>


<!--Table mobile-->

<div class="d-block d-sm-block d-md-none">  
  <div class="container-fluid">  
    <div class="card shadow mb-4">
      
      <div class="card-header py-3">
        
        <h6 class="m-0 font-weight-bold text-primary">Campañas de publicidad</h6>
      
      </div>
      
      <div class="card-body">        
        <div class="table-responsive">
          
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            
            <thead>
              <tr>
                <th colspan="2">Nombre</th>                
              </tr>
            </thead>
            
            <tbody>
                {% for campaign in campaign %}
              <tr>             
                <td>{{campaign.name}}</td>

                <td>

                  <a href="/backend/publicity_campaign/{{campaign.id}}" class="btn btn-primary btn-icon-split">
                    <span class="text"><i class="fa fa-eye" aria-hidden="true"></i></span>
                  </a>

                  <a href="/backend/publicity_campaign_complete/{{campaign.id}}" class="btn btn-success btn-icon-split">
                    <span class="text"><i class="fas fa-book-open" aria-hidden="true"></i></span>
                  </a>


                  <a href="/backend/publicity_campaign_edit/{{campaign.id}}" class="btn btn-warning btn-icon-split">
                    <span class="text"><i class="fas fa-pencil-alt" aria-hidden="true"></i></span>
                  </a>   

                  <a href="/backend/publicity_campaign_delete/{{campaign.id}}" class="btn btn-danger btn-icon-split">
                    <span class="text"><i class="fas fa-trash"></i></span>
                  </a>

                </td>
                
              </tr>
              
              {% endfor %}              
             </tbody>

          </table>

        </div>
      </div>

    </div>
  </div>
</div>


{% endblock %}