{% extends 'backend/base.html' %}

{% block contenido %}


  <div class="container-fluid">  
    <div class="card shadow mb-4">

      <div class="card-header py-3">
        
        
        <h6 class="m-0 font-weight-bold text-primary d-flex justify-content-between align-items-center">Estadísticas
        


          <right>
         
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
             Gráficos acumulativos
            </a>
          </right>
        </h6> 

            

      </div>
      
      <div class="collapse" id="collapseExample">

        <div class="card-body">

          <div class="card-header py-3">
            <div class=row>

              
              <div div class="col-lg-4" >
               <canvas id="myChart" height="200"></canvas>
              </div>
              



              <div div class="col-lg-4">
                <canvas id="myChart2" height="200"></canvas>
              </div>         

            </div>
         
          </div>

        </div>

      </div>
      

      <div class="card-body">        

        

        <div class="table-responsive">
          
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            
            <thead>
              <tr>
                <th>Usuario</th>   
                <th>Fecha</th>
                <th>Hora</th>
                <th>IP</th>
                <th>País</th>
                <th>Comunidad</th>
                <th>Ciudad</th>
                <th>Producto</th>
                <th>Descripción de la promoción</th>
                <th>Estado del TAG</th>
                <th>Geoposición (Longitud y Latitud)</th>
                <th>Ver</th>




        




              </tr>
            </thead>
            
            <tbody>
              {% for item in register_activity %}

              <tr>

                <td>
                  {% if item.user == None %}
                  Anónimo

                  {% else %}

                  {{item.user}}

                  {% endif %}

                </td>

                <td>{{item.date|date:"SHORT_DATE_FORMAT"}}</td>
                <td>{{item.time|time:"H:i:s"}}</td>
                <td>{{item.ip_address}}</td>
                <td>{{item.country_name}}</td>
                <td>{{item.region_name}}</td>
                <td>{{item.city}}</td>
                <td>{{item.tag_nfc_product}}</td>
                <td>{{item.tag_nfc_description}}</td>
                <td>{{item.tag_nfc_status}}</td>
                <td>{{item.tag_nfc_latitude}}, {{item.tag_nfc_longitude}}</td>
                <td>ICON</td>



              </tr>
              
              {% endfor %}          
              
              

              
             </tbody>

             
          </table>
          {% if register_activity.object_list and register_activity.paginator.num_pages > 1 %}

          <div class="card-header py-3">

            <h6 class="m-0 font-weight-bold text-primary d-flex justify-content-between align-items-center">  
          
        
              <div class="col s12 m5">
                <div class="card-panel blue lighten-5">
               
                         
               
                  
                
                <span align="right">Página {{ register_activity.number }} de {{ register_activity.paginator.num_pages }}
      
      
                  </span>
                  
                </div>
                
              </div>
    
    
    
    
              <right>
                
    
                {% if register_activity.has_previous %}
        
                <a href="?page={{ register_activity.previous_page_number }}" class="btn btn-primary btn-icon-split">
                  <span class="icon">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                  </span>
                </a>
      
      
        
                {% endif %} 
    
                {% if register_activity.has_next %}
        
                <a href="?page={{ register_activity.next_page_number }}" class="btn btn-primary btn-icon-split">
                  <span class="icon">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                  </span>
                </a>
             
                {% endif %}
                </right>
              </h6> 
            </div>

            {% endif %}

        </div>


      {{register_activity_nfc_count}}
      

  <script>


var ctx = document.getElementById('myChart').getContext('2d');

var myChart = new Chart(ctx, {
  type: 'pie',
      data: {
          labels: ["Usuarios registrados", "Usuarios no registrados"],
          datasets: [{
              label: 'Etiquetas tocadas',
              data: ["{{register_activity_register}}","{{register_activity_no_register}}"                 
                  ],
              backgroundColor: [
                  'rgba(47, 45, 242, 0.7)',
                  'rgba(7, 4, 42, 0.7)',
              ],
              
             
          }]
      },
   
});


var ctx2 = document.getElementById('myChart2').getContext('2d');

var myChart2 = new Chart(ctx2, {
  type: 'bar',
      data: {
          labels: [
      {% for item in register_activity_nfc_count %}
        "{{item.date}}",
      {% endfor %}
                ],
          datasets: [{
              label: 'Etiquetas tocadas por día',
              data: [
                  {% for item in register_activity_nfc_count %}
                  "{{item.count}}",
                  {% endfor %}0
                  ],
              backgroundColor: [
                  'rgba(47, 145, 242, 0.7)',

              ],
              
              borderWidth: 1
          }]
      },
   
});



  </script>


      </div>

    </div>


    

  </div>



{% endblock %}