{% extends 'backend/base.html' %}


{% block contenido %}

<!--Desktop version-->


<div class="d-none d-sm-none d-md-block">
  <div class="container">
    <div class="row">     

        <div class="card shadow mb-4" >
          
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">TAGs NFC</h6>
          </div>

          <div class="card-body">
            <div class="table-responsive">

              <table class="table table-bordered" id="dataTable" cellspacing="0">

                <thead>
                  <tr>
                    <th>Identificador</th>
                    <th>Producto</th>
                    <th>Campaña de publicidad</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                  </tr>
                </thead>

                <tbody>
                    {% for item in tag_nfc %}
                    <tr>             
                      <td>{{item.id}}</td>
                      <td>{{item.product.name}}</td> 
                      <td>{{item.publicity_campaign.name}}</td>    
                      <td>{{item.description}}</td>                               
                      <td>

                        <a href="/backend/tag_nfc/{{item.id}}" class="btn btn-primary btn-icon-split">
                          <span class="icon">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                          </span>
                          <span class="text">Ver</span>
                        </a>

                        <a href="/backend/tag_nfc_edit/{{item.id}}" class="btn btn-warning btn-icon-split">
                          <span class="icon">
                            <i class="fas fa-edit" aria-hidden="true"></i>
                          </span>
                          <span class="text">Editar</span>
                        </a>

                        {% if item.available == True %}

                        <a href="/backend/tag_nfc_disable/{{item.id}}" class="btn btn-info btn-icon-split" >
                          <span class="icon">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                          </span>
                          <span class="text" style="width: 120px;">Deshabilitar</span>
                        </a>

                        {% else %}

                        <a href="/backend/tag_nfc_enable/{{item.id}}" class="btn btn-success btn-icon-split" >
                          <span class="icon">
                            <i class="fa fa-power-off" aria-hidden="true"></i>
                          </span>
                          <span class="text" style="width: 120px;">Habilitar</span>
                        </a>

                        {% endif %}
                      </td>
                    </tr>                  
                    {% endfor %}              
                </tbody>

              </table>

            </div>            
          </div>

        </div>
        
    </div>
  </div>
</div>


<!--Mobile version-->

<div class="d-block d-sm-block d-md-none">
  <div class="container">  
    <div class="row">        
      <div class="col-lg-12">  

        <div class="card shadow mb-3" >

          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Usuarios</h6>
          </div>

          <div class="card-body">
            <div class="table-responsive">


              <table class="table table-bordered" id="dataTable" cellspacing="0">

                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Producto</th>
                    <th>Campaña</th>
                    <th>Acciones</th>
                    <th>Descripción</th>
                  </tr>
                </thead>

                <tbody>
                    {% for item in tag_nfc %}
                    <tr>             
                      <td>{{item.id}}</td>
                      <td>{{item.product.name}}</td> 
                      <td>{{item.publicity_campaign.name}}</td>  
                      <td>{{item.description}}</td>                                                
                      <td>               
                        <a href="/backend/tag_nfc/{{item.id}}" class="btn btn-primary btn-icon-split">
                          <span class="text"><i class="fa fa-eye" aria-hidden="true"></i></span>
                        </a>     

                        <a href="/backend/tag_nfc_edit/{{item.id}}" class="btn btn-warning btn-icon-split">
                          <span class="text"><i class="fas fa-edit" aria-hidden="true"></i></span>
                        </a>
                        {% if item.available == True %}

                        <a href="/backend/tag_nfc_disable/{{item.id}}" class="btn btn-info btn-icon-split">
                          <span class="text"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>
                        </a>
                        
                        {% else %}
  
                        <a href="/backend/tag_nfc_enable/{{item.id}}" class="btn btn-success btn-icon-split">
                          <span class="text"><i class="fa fa-power-off" aria-hidden="true"></i></span>
                        </a>
                        {% endif %}

                      </td>
                    </tr>                  
                    {% endfor %}              
                </tbody>

              </table>

            </div>
          </div> 

        </div>  

      </div>
     </div>  
  </div>
</div>
{% endblock %}