{% extends 'backend/base.html' %}

{% block contenido %}     
        
<div class="col-lg-6 mx-auto">       
    <div class="card rounded shadow shadow-sm">
      <div class="card-body">
        <div class="text-center">

          <br><font size="5" style="color:black;">¿Está seguro que desea deshabilitar el TAG NFC con ID {{tag_nfc.id}}?</font></h1>
        
          <hr>
          <br>
          <form id='formu' enctype='multipart/form-data' method="post" action=''>
            {% csrf_token %}   
            <a href="/backend/tag_nfc_list" class="btn btn-primary btn-icon-split" style="width: 30%">
              <span class="text"><font size="5">Volver atrás</font></span>                                              
            </a>

          &nbsp &nbsp
                  
            <button  class="btn btn-info btn-icon-split" type="submit" href="/backend/tag_nfc_disable/{{tag_nfc.id}}" style="width: 30%">
              <span class="text"><font size="5">Deshabilitar</font></span>                        
            </button >
            
          </form>
          <br>
          
        </div>
      </div>       
    </div>   
</div>   

{% endblock %}