
{% extends 'backend/base.html' %}

{% block contenido %}

{% load static %}


<div class="card text-center">

    <div class="card-header">
        <center><h2>Añadir nuevo usuario</h2></center>
    </div>

    <div class="card-body text-justify">

        <div class="container">

            <center>

                <form id='formu' enctype='multipart/form-data' method="post" action=''>{% csrf_token %}
                {% csrf_token %}

                <div class="form-group">
                    <label for="username" class="col-lg-6 control-label text-left">Nombre de usuario</label>
                    <div class="col-lg-6">
                        <input type="text" name="username" id="username" class="form-control" autofocus maxlength="40" autofocus required>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="password" class="col-lg-6 control-label text-left">Contraseña</label>
                    <div class="col-lg-6">
                        <input type="password" name="password" id="password" class="form-control" autofocus maxlength="40" autofocus required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password2" class="col-lg-6 control-label text-left">Repita contraseña</label>
                    <div class="col-lg-6">
                        <input type="password" name="password2" id="password2" class="form-control" autofocus maxlength="40" autofocus required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="first_name" class="col-lg-6 control-label text-left">Nombre</label>
                    <div class="col-lg-6">
                        <input type="text" name="first_name" id="first_name" class="form-control" autofocus maxlength="40" autofocus required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="last_name" class="col-lg-6 control-label text-left">Apellidos</label>
                    <div class="col-lg-6">
                        <input type="text" name="last_name" id="last_name" class="form-control" autofocus maxlength="40" autofocus required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="col-lg-6 control-label text-left">Email</label>
                    <div class="col-lg-6">
                        <input type="email" name="email" id="email" class="form-control" autofocus maxlength="40" autofocus required>
                    </div>
                </div>

                    <div class="form-group">
                        <div class="col-lg-6">
                            <hr>
                            <button onClick="CompararPass()" type="button" class="btn btn-primary btn-block">Añadir</button>
                         <!--<button type="submit" class="btn btn-primary btn-lg btn-block" style="width: 100%">Añadir usuario</button>-->
                        </div>
                    </div> 
                       
                </form> 

            </center>
         
        </div> <!-- ./container -->

    </div>

</div>







<script>
function CompararPass()
{
    var username = document.getElementById("username").value
    var password = document.getElementById("password").value
    var password2 = document.getElementById("password2").value


    
    if (username.indexOf(" ") > -1) 
    {
        $( "#warning2" ).modal('show');
    }
    else
    {
        if(password == password2)
        {

        document.getElementById('formu').submit();
        }

        if(password != password2)
        {
        $( "#warning" ).modal('show');
    
        }
    }
    
}
  









</script>

    



              <div class="modal" id="warning" tabindex="-1" role="dialog" aria-labelledby="examplewarning" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="examplewarning">                          
                        <b>AVISO</b>
                     </h5>
                      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    <center>
                        <div class="modal-body">Las contraseñas no son iguales</div>
                        
                        <button class="btn btn-primary" type="button" data-dismiss="modal" style="width: 30%">Aceptar</button>
                        <br><br>

                        
                    </center>
                  </div>
                </div>
              </div>

              <div class="modal" id="warning2" tabindex="-1" role="dialog" aria-labelledby="examplewarning" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="examplewarning">                          
                        <b>AVISO</b>
                     </h5>
                      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    <center>
                        <div class="modal-body">El nombre de usuario no puede contener espacios</div>
                        
                        <button class="btn btn-primary" type="button" data-dismiss="modal" style="width: 30%">Aceptar</button>
                        <br><br>

                        
                    </center>
                  </div>
                </div>
              </div>





{% endblock %}