{% extends 'backend/base.html' %}


{% block contenido %}

<!--Desktop version-->

<div class="d-none d-sm-none d-md-block">  
  <div class="container-fluid">  
    <div class="card shadow mb-4">

          
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Usuarios</h6>
          </div>

          <div class="card-body">
            <div class="table-responsive">

              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                <thead>
                  <tr>
                    <th>Nombre de usuario</th>
                    <th>eMail</th>
                    <th>Fecha de registro</th>
                    <th>Última conexión</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                  </tr>
                </thead>

                <tbody>
                    {% for users in users %}
                    <tr>             
                      <td>{{users.username}}</td>
                      <td>{{users.email}}</td>
                      <td>{{users.date_joined}}</td>  
                      <td>{{users.last_login}}</td>
                      <td>
                        {% if users.is_active == True %}
                        Activo
                        {%else%}
                        Inactivo
                        {% endif %}
                      </td>                
                      <td>
                        <a href="/backend/user_profile/{{users.id}}" class="btn btn-primary btn-icon-split">
                          <span class="icon">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                          </span>
                          <span class="text">Ver</span>
                        </a>

                        <a href="/backend/user_profile_edit/{{users.id}}" class="btn btn-warning btn-icon-split">
                          <span class="icon">
                            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                          </span>
                          <span class="text">Editar</span>
                        </a>   


                        {% if users.is_active == True %}

                        <a href="/backend/user_disable/{{users.id}}" class="btn btn-info btn-icon-split" >
                          <span class="icon">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                          </span>
                          <span class="text" >Deshabilitar</span>
                        </a>

                        {% else %}

                        <a href="/backend/user_enable/{{users.id}}" class="btn btn-success btn-icon-split">
                          <span class="icon">
                            <i class="fa fa-power-off" aria-hidden="true"></i>
                          </span>
                          <span class="text">Habilitar</span>
                        </a>

                        {% endif %}

                      </td>
                    </tr>                  
                    {% endfor %}              
                </tbody>

              </table>

            </div>            
          </div>

    </div>
  </div>
</div>


<!--Mobile version-->

<div class="d-block d-sm-block d-md-none">
  <div class="container">  
    <div class="row">        
      <div class="col-lg-12">  

        <div class="card shadow mb-3" >

          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Usuarios</h6>
          </div>

          <div class="card-body">
            <div class="table-responsive">

              <table class="table table-bordered" id="dataTable" cellspacing="0">

                <thead>
                  <tr>
                    <th>Nombre de usuario</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
  
                <tbody>
                    {% for users in users %}
                  <tr>             
                    <td>{{users.username}}</td>
                    
                    <td>
                      <a href="/backend/user_profile/{{users.id}}" class="btn btn-primary btn-icon-split">
                        <span class="text"><i class="fa fa-eye" aria-hidden="true"></i></span>
                      </a>
    
                      <a href="/backend/user_profile_edit/{{users.id}}" class="btn btn-warning btn-icon-split">
                        <span class="text"><i class="fas fa-pencil-alt" aria-hidden="true"></i></span>
                      </a>   
    
                      {% if users.is_active == True %}

                      <a href="/backend/user_disable/{{users.id}}" class="btn btn-info btn-icon-split">
                        <span class="text"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>
                      </a>

                      {% else %}

                      <a href="/backend/user_enable/{{users.id}}" class="btn btn-success btn-icon-split">
                        <span class="text"><i class="fa fa-power-off" aria-hidden="true"></i></span>
                      </a>

                      {% endif %}

                    </td>
                  </tr>

                  {% endfor %}              
                </tbody>

              </table>

            </div>
          </div> 

        </div>  

      </div>
     </div>  
  </div>
</div>
{% endblock %}