{% extends 'backend/base.html' %}

{% block contenido %}
{% load static %}


<div class="container">    
  <div class="row">    
    <div class="col-lg-10">
      <div class="card shadow mb-4">

        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Perfil</h6>
        </div>

        <div class="container portfolio">

          <div class="bio-info">
            <div class="row">

              <div class="col-md-6">
                  <center>
                    <br>
                    <div class="profile-img rounded-circle containercut" >
                      <img class="profile-img rounded-circle crop" src="{{ user_profile.userprofile.image.url }}" alt="">
                    </div>	

                  <br>
                  <br>

                  </center>
              </div>

              <div class="col-md-6">
                <div class="bio-content"><br>
                  <h1>{{ user_profile.username }}</h1>

                  <hr>
                  
                  <h5><i class="fa fa-user" aria-hidden="true"></i> {{ user_profile.get_full_name }} 
                    <a href="/backend/user_edit_name/{{user_profile.id}}">
                      <span class="text"> <i class="fas fa-pencil-alt" aria-hidden="true"></i></span>
                    </a>
                  </h5>

                  <br>
                  
                  <h5><i class="fa fa-envelope" aria-hidden="true"></i> {{ user_profile.email }} 
                    <a href="/backend/user_edit_email/{{user_profile.id}}">
                      <span class="text"> <i class="fas fa-pencil-alt" aria-hidden="true"></i></span>
                    </a>              
                  </h5>
                  
                  <br>

                  <h5><i class="fas fa-sign-in-alt"></i><b> Última sesión:</b> {{ user_profile.last_login }}</h5>
                  
                  <form id='formu' enctype='multipart/form-data' method="post" action=''>{% csrf_token %}
                    {% csrf_token %}
                
                  <h5><i class="fa fa-picture-o" aria-hidden="true"></i> Introduzca la imagen: </h5>
                  
                  <input id="id_image" type="file" class="" name="image">
                  
                  <hr>
                
                  <td>
                  
                    <button type="submit" class="btn btn-primary btn-lg btn-block" style="width: 100%">Modificar</button>
                  </form>
                 
                  <br>
                  <br>

                </div>
              </div>

            </div>	
          </div>

        </div>

        
      </div>
    </div>
  </div>
</div>


{% endblock %}